
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

h2.titulo {
    color: #f1efe7;
    font-size: 38px;
    text-align: center;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(148, 145, 145); 
    text-decoration: none;  
    display: inline-block;
    transition: .4;
}

header a:hover{
    color: rgb(247, 246, 246);
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding:0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f1efe7;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #706f6a;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: grey;
    font-size: 42px;
    line-height: 45px;
}

.topo-do-site .txt-topo-site p{
    color:#f1efe7;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: -30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #f1efe7;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 40px;
    transition: .3s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.479);
}

.especialidades .especialidades-box i{
    font-size: 40px;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO PORTFOLIO */

section .portfolio .flex { /*nao está funcionando, coloquei no flex */
    justify-content: space-around;
    margin-top: 60px;
}

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(70, 68, 68, 0.534);
    text-align: center;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #000000af;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

section.portfolio .executavel {
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin-left: -60px;
    position: relative;
    max-width: 1280px;
}

section.portfolio .executavel .botao-executavel button{
    padding: 10px 30px;
    font-size: 30px;
    color: black;
    font-weight: 700;
    background-color: #f1efe7;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    margin-top: 60px;
}

footer .flex{
    justify-content: space-between;
    margin-top: 0px;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #f1efe7;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 2s;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 0px;
}

@media screen and (max-width: 1020px){

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* CLASSES FLEX*/
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 10px;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex{
        gap: 20px;
    }

    section.topo-do-site{
        padding: 10px 8%;
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* MY SKILLS */
    section.especialidades{
        padding: 20px 8%;
    }

    /* PORTFOLIO */
    section.portfolio {
        padding: 80px 8%
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */
    footer.flex {
        flex-direction: column;
    }

    footer .linefooter {
        text-align: center;
    }
}

/* -------------JOGO DA VELHA-------------------- */

/* Estilos da pop-up */
.popup {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

/* Estilos do tabuleiro */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
}

.game-board div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
}

.game-board div:hover {
    background-color: #ccc;
}

/* Status do jogo */
#gameStatus {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}